<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Income Distributions</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify@0.12.7/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <style>
    .input-group__selections {
      overflow: scroll;
      overflow-x: hidden;
      max-height: 100px;
    } 
    [v-cloak] {
      display: none;
    }
  </style>
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://unpkg.com/vue@2.3.4/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify@0.12.7/dist/vuetify.js"></script>
  <script src="distributions.js"></script>
  <script src="model.js"></script>
  <script src="charts.js"></script>
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      
      <main>
        <v-container fluid>
          <v-card class="grey lighten-4 elevation-0">
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs12 sm12>
                  <v-select
                    label="Click here to select countries"
                    v-bind:items="availableCountries"
                    v-model="selected"
                    item-text="name"
                    item-value="code"
                    item-group="group"
                    multiple
                    chips
                    autocomplete
                  >
                    <template slot="selection" scope="data">
                      <v-chip
                        close
                        @input="data.parent.selectItem(data.item)"
                        @click.native.stop
                        class="chip--select-multi"
                        :key="data.item"
                        v-bind:style="'color: '+textColorBW(series.colorScale(data.item.code))+'; background-color: '+series.colorScale(data.item.code)"
                      >
                        {{ data.item.name }}
                      </v-chip>
                    </template>
                  </v-select>
                </v-flex>
                <v-flex xs6 sm6>
                  <v-btn primary dark @click.native="selectAll">Select all</v-btn>
                  <v-btn primary dark @click.native="selectNone">Clear all</v-btn>                  
                </v-flex>
                <v-flex xs6 sm6 class="text-xs-right">
                  <v-btn primary dark @click.native="sortByPopulation">Sort by population</v-btn>
                  <v-btn dark disabled>Sort by region</v-btn>                  
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
          <br>
            <v-layout row wrap v-if="series">
              <v-flex xs12 v-if="series">
                <v-slider v-model="year" thumb-label v-bind:min="series.minYear()" v-bind:max="series.maxYear()" step="1" v-bind:label="year" @keyup.left="decrementYear" @keyup.right="incrementYear"></v-slider>
              </v-flex>
              <v-flex xs7>
                <v-tabs grow centered dark v-model="currentTab">
                  <v-tabs-bar slot="activators">
                    <v-tabs-slider></v-tabs-slider>
                    <v-tabs-item href="#tab-pdf" ripple>PDF</v-tabs-item>
                    <v-tabs-item href="#tab-cdf" ripple>CDF</v-tabs-item>
                    <v-tabs-item href="#tab-histogram" ripple>Histogram</v-tabs-item>
                    <v-tabs-item href="#tab-lorenz" ripple>Lorenz</v-tabs-item>
                    <v-tabs-item href="#tab-deciles" ripple>Deciles</v-tabs-item>
                    <v-toolbar-side-icon class="mr-4" light @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
                  </v-tabs-bar>
                  <v-tabs-content id="tab-pdf">
                    <div v-if="this.currentTab == 'tab-pdf'" width="100%" min-height="400px">
                      <pdf-chart v-if="series" v-bind:series="series" v-bind:year="year" v-bind:is-log="logscale"></pdf-chart>
                    </div>
                  </v-tabs-content>
                  <v-tabs-content id="tab-cdf">
                    <div v-if="this.currentTab == 'tab-cdf'" width="100%" min-height="400px">
                      <cdf-chart v-if="series" v-bind:series="series" v-bind:year="year" v-bind:is-log="logscale"></pdf-chart>
                    </div>
                  </v-tabs-content>
                  <v-tabs-content id="tab-histogram">
                    <div v-if="this.currentTab == 'tab-histogram'" width="100%" min-height="400px">
                      <histogram-chart v-if="series" v-bind:series="series" v-bind:year="year" v-bind:is-log="logscale"></pdf-chart>
                    </div>
                  </v-tabs-content>
                  <v-tabs-content id="tab-lorenz">
                    <div v-if="this.currentTab == 'tab-lorenz'" width="100%" min-height="400px">
                      <lorenz-chart v-if="series" v-bind:series="series" v-bind:year="year" v-bind:is-log="logscale"></pdf-chart>
                    </div>
                  </v-tabs-content>
                  <v-tabs-content id="tab-deciles">
                    <div v-if="this.currentTab == 'tab-deciles'" width="100%" min-height="400px">
                      <deciles-chart v-if="series" v-bind:series="series" v-bind:year="year"></pdf-chart>
                    </div>
                  </v-tabs-content>
                </v-tabs>
              </v-flex>
              <v-flex xs5>
                <v-container fluid>
                  <v-layout row>
                    <v-flex xs6>
                      <v-subheader>Population (% of world)</v-subheader>
                    </v-flex>
                    <v-flex xs6>
                      <v-text-field
                        v-bind:label="series ? $options.filters.human(series.aggregate.get(year).population) + ' (' + $options.filters.percentage(series.aggregate.get(year).population / core.model.populations.national.get('WLD').get(year)) + ')' : ''"
                        single-line
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs6>
                      <v-subheader>Poverty line</v-subheader>
                    </v-flex>
                    <v-flex xs6>
                      <v-text-field
                        v-model="povertyLine"
                        prefix="$PPP"
                        suffix="/ month"
                        single-line
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs6>
                      <v-subheader>Poverty headcount (% of population)</v-subheader>
                    </v-flex>
                    <v-flex xs6>
                      <v-text-field
                        v-bind:label="series ? ($options.filters.human(series.aggregate.get(year).cdf(povertyLine, true)) + ' ('+  $options.filters.percentage(series.aggregate.get(year).cdf(povertyLine)) + ')') : ''"
                        single-line
                        disabled
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs6>
                      <v-subheader>Median</v-subheader>
                    </v-flex>
                    <v-flex xs6>
                      <v-text-field
                        v-bind:label="series ? series.aggregate.get(year).median() : '' | currency('$PPP',0)"
                        suffix="/ month"
                        single-line
                        disabled
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs6>
                      <v-subheader>Mean</v-subheader>
                    </v-flex>
                    <v-flex xs6>
                      <v-text-field
                        v-bind:label="series ? series.aggregate.get(year).mean() : '' | currency('$PPP',0)"
                        suffix="/ month"
                        single-line
                        disabled
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs6>
                      <v-subheader>Gini</v-subheader>
                    </v-flex>
                    <v-flex xs6>
                      <v-text-field
                        v-bind:label="series ? series.aggregate.get(year).gini() : '' | fixed(2)"
                        single-line
                        disabled
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs6>
                      <v-subheader>Income axis</v-subheader>
                    </v-flex>
                    <v-flex xs6>
                      <v-switch label="Log scale" v-model="logscale"></v-switch>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
        </v-container>
      </main>
      
      <v-footer>
        <span><strong>Results are experimental only and should not be considered official.</strong></span>
      </v-footer>
    </v-app>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        currentTab: "tab-pdf",
        selected: [],
        year: 2000,
        povertyLine: 57.7917,
        core: {
          model: null
        },
        logscale: false
      },
      created: function() {
        window.addEventListener('keyup', this.keyup);
      },
      computed: {
        availableCountries: function() {
          if (this.core.model !== null) {
            var avail = Array.from(this.core.model.distributions.keys()).map(n => ({code: n, name: this.core.model.countries.get(n)}));
            avail.sort((a, b) => (a.name < b.name) ? -1 : ((a.name > b.name) ? 1 : 0));
            return avail;
          } else {
            return [];
          }
        },
        series: function () {
            if (this.core.model !== null && this.selected.length > 0) {
                return new Series(
                    this.selected,
                    this.selected.map(code => {
                        if (this.core.model.distributions.get(code).national.consumption.size != 0)
                            return this.core.model.distributions.get(code).national.consumption;
                        else
                            return this.core.model.distributions.get(code).national.income;
                    })
                );
            } else {
                return null;
            }
        },
      },
      methods: {
        selectAll: function() {
          var allCodes = this.availableCountries.map(c => c.code);
          this.selected.push(...allCodes.filter(c => this.selected.indexOf(c) == -1));
        },
        selectNone: function() {
          this.selected.splice(0);
        },
        sortByPopulation: function() {
          this.selected.sort((a, b) => {
            var pop_a = this.core.model.populations.national.get(a).get(this.year);
            var pop_b = this.core.model.populations.national.get(b).get(this.year);
            return (pop_a < pop_b) ? -1 : ((pop_a > pop_b) ? 1 : 0);
          });
        },
        textColorBW: function(bgcolor) {
          contrastWhite = contrast_ratio("#ffffff", bgcolor);
          contrastBlack = contrast_ratio("#000000", bgcolor);
          return contrastWhite > contrastBlack ? "#ffffff" : "#000000";
        },
        incrementYear: function() {
          if (this.series && this.year < this.series.maxYear())
            this.year++;
        },
        decrementYear: function() {
          if (this.series && this.year > this.series.minYear())
            this.year--;          
        },
        keyup: function(e) {
          switch (e.keyCode) {
            case 37: this.decrementYear(); break;
            case 39: this.incrementYear(); break;
          }
          return true;
        }
      },
      watch: {
        series: function(newSeries) {
          if (this.year < newSeries.minYear())
            this.year = newSeries.minYear();
          else if (this.year > newSeries.maxYear())
            this.year = newSeries.maxYear();
          else
            this.year = this.year;
        }
      },
      filters: {
        percentage: function (val, dp = 1) {
          if (val)
            return d3.format("."+dp+"%")(val);
          else
            return val;
        },
        human: function(val, bigdp = 1) {
          if (val)
            if (val > 1e9)
              return d3.format(bigdp > 0 ? ("."+bigdp+"f") : "d")(val / 1e9) + " billion";
            else if (val > 1e6)
              return d3.format(bigdp > 0 ? ("."+bigdp+"f") : "d")(val / 1e6) + " million";
            else
              return d3.format(",d")(val);
          else
            return val; 
        },
        fixed: function(val, dp = 2) {
          return d3.format(dp > 0 ? ("."+dp+"f") : "d")(val);
        },
        currency: function(val, symbol, dp = 2) {
          if (val)
            return symbol + " " + d3.format(dp > 0 ? ("." + dp+"f") : "d")(val);
          else
            return val
        }
      }
    })
    
    // there's definitely a better way to do this :-)
    d3.json("distributions.json?nocache=" + (new Date()).getTime(), function(distributions) {
        d3.csv("population.csv", function(populations) {
            d3.csv("population_urban.csv", function(populationsUrban) {
                d3.csv("population_rural.csv", function(populationsRural) {
                    d3.csv("fce.csv", function(fce) {
                        d3.csv("gdp.csv", function(gdp) {
                            var model = new AllDistributions(
                                distributions,
                                populations, populationsUrban, populationsRural,
                                fce, gdp
                            )
                            app.core.model = model;
                            //document.getElementsByClassName('input-group__selections')[0].style.overflow=""  
                        });
                    });
                });
            });
        });
    });

  function hexToRgb(hex) {
    var cleanHex = hex.replace(/[^0-9a-fA-F\.]/g, '')
    var bigint = parseInt(cleanHex, 16);
    var r = (bigint >> 16) & 255;
    var g = (bigint >> 8) & 255;
    var b = bigint & 255;

    return [r,g,b];
  }

  function relative_luminance(rgb) {
    cg = rgb.map(c => (c <= 10 ? c/3294 : (c/269 + 0.0513)**2.4))
    L = 0.2126 * cg[0] + 0.7152 * cg[1] + 0.0722 * cg[2]
    return L
  }

  function contrast_ratio (a, b) {
    // http://ux.stackexchange.com/a/82068
    rgb_a = hexToRgb(a);
    rgb_b = hexToRgb(b);
    L_a = relative_luminance(rgb_a);
    L_b = relative_luminance(rgb_b);
    L_big = L_a > L_b ? L_a : L_b;
    L_small = L_a > L_b ? L_b : L_a;
    return (L_big + 0.05) / (L_small + 0.05);
  }
  
    document.getElementsByClassName('input-group__selections')[0].style.overflow=""  
  </script>
</body>
</html>
